@mixin back_img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@mixin footer_line {
  position: relative;
  padding-right: min(5.94vw, 114px);

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: #757575;
  }
}
