@import "normalize";

@import "settings";

@import "mixin";

.container {
  padding-inline: min(6.25vw, 120px);
}

.hero {
  margin-bottom: min(3.13vw, 60px);

  &__main {
    @include back_img;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: min(29.22vw, 561px);
    margin-top: min(2.08vw, 40px);
    border-radius: min(.52vw, 10px);
    background-image: url(../img/hero.jpg);

    row-gap: min(.78vw, 15px);

    & > h1 {
      font-size: min(3.13vw, 60px);
      font-weight: 700;
      font-style: Bold;
      line-height: 100%;
      color: white;
      text-align: center;
      letter-spacing: 0;
    }

    & > p {
      font-size: min(1.04vw, 20px);
      font-weight: 400;
      font-style: normal;
      line-height: normal;
      color: #ffffff;
      text-align: center;
    }
  }
}

.about {
  margin-bottom: min(3.13vw, 60px);

  &__container {
    position: relative;
    min-height: min(35.05vw, 673px);

    column-gap: min(2.86vw, 55px);
  }

  &__descrMainBlock {
    max-width: min(41.93vw, 805px);

    & h2 {
      margin-bottom: min(1.04vw, 20px);
      font-size: min(1.98vw, 38px);
      font-weight: 700;
      font-style: normal;
      line-height: normal;
      color: #000000;
      text-transform: uppercase;
    }

    & p {
      margin-bottom: min(3.65vw, 70px);
      font-size: min(1.25vw, 24px);
      font-weight: 400;
      font-style: normal;
      line-height: normal;
      color: #000000;
      white-space: pre-line;
    }
  }

  &__correction {
    position: absolute;
    bottom: min(5.21vw, 100px);
    left: 0;
    width: min(34.27vw, 658px);
    padding: min(1.25vw, 24px) min(.36vw, 7px) min(1.25vw, 24px) min(6.25vw, 120px);
    border-radius: 0 min(2.60vw, 50px) min(2.60vw, 50px) 0;
    font-size: min(1.25vw, 24px);
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    color: #000000;
    background: linear-gradient(91deg, #fcd700 0%, #ffd700 95.57%);
  }

  &__manBlock {
    column-gap: min(1.04vw, 20px);

    & > li {
      width: min(20.83vw, 400px);

      & p {
        margin-bottom: min(1.04vw, 20px);
        font-size: min(.94vw, 18px);
        font-weight: 400;
        font-style: normal;
        line-height: normal;
        color: #000000;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    margin-top: auto;
    padding: min(.52vw, 10px) min(1.04vw, 20px);
    border-radius: min(.52vw, 10px);
    font-size: min(.83vw, 16px);
    font-weight: 500;
    font-style: normal;
    line-height: min(.94vw, 18px);
    color: #ffffff;
    text-align: center;
    background-color: #b91827;
  }

  &__img {
    width: min(20.83vw, 400px);
    height: min(21.98vw, 422px);
    border-radius: min(.52vw, 10px) min(.52vw, 10px) 0 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &_1 {
      background-image: url(../img/man_1.jpg);
    }

    &_2 {
      background-image: url(../img/man_2.jpg);
    }
  }

  &__manDescr {
    flex-direction: column;
    min-height: calc(100% - min(20.83vw, 400px));
    padding: min(1.56vw, 30px);
    border-radius: 0 0 min(.52vw, 10px) min(.52vw, 10px);
    background-color: #f5f5f5;
  }

  &__name {
    margin-bottom: min(.42vw, 8px);
    font-size: min(1.25vw, 24px);
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    color: #000000;
  }
}

.info {
  background-color: #f5f5f5;

  padding-block: min(3.13vw, 60px);

  &__choiceBlock {
    justify-content: space-between;
    margin-bottom: min(3.13vw, 60px);

    column-gap: min(.47vw, 9px);
  }

  &__choice {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    width: min(8.85vw, 170px);
    min-height: min(9.11vw, 175px);
    padding-top: min(.57vw, 11px);
    padding-bottom: min(.78vw, 15px);
    border-radius: min(.52vw, 10px);
    background-color: white;
    box-shadow: 0 20px 6px 0 rgba(0, 0, 0, .00), 0 13px 5px 0 rgba(0, 0, 0, .01), 0 7px 4px 0 rgba(0, 0, 0, .05), 0 3px 3px 0 rgba(0, 0, 0, .09), 0 1px 2px 0 rgba(0, 0, 0, .10);
    transition: background-color .3s ease-in-out;

    padding-inline: min(.26vw, 5px);
  }

  &__choiceIcon {
    @include back_img;
    width: min(4.17vw, 80px);
    height: min(4.17vw, 80px);

    &_1 {
      background-image: url(../img/info__choiceIcon_1.png);
    }

    &_2 {
      background-image: url(../img/info__choiceIcon_2.png);
    }

    &_3 {
      background-image: url(../img/info__choiceIcon_3.png);
    }

    &_4 {
      background-image: url(../img/info__choiceIcon_4.png);
    }

    &_5 {
      background-image: url(../img/info__choiceIcon_5.png);
    }

    &_6 {
      background-image: url(../img/info__choiceIcon_6.png);
    }

    &_7 {
      background-image: url(../img/info__choiceIcon_7.png);
    }

    &_8 {
      background-image: url(../img/info__choiceIcon_8.png);
    }

    &_9 {
      background-image: url(../img/info__choiceIcon_9.png);
    }
  }

  &__choiceDescr {
    font-size: min(.94vw, 18px);
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    color: #000000;
    text-align: center;
  }

  &__mainBlock {
    align-items: flex-start;
    justify-content: space-between;

    column-gap: min(1.04vw, 20px);
  }

  &__mainImg {
    @include back_img;
    width: min(41.09vw, 789px);
    height: min(25.16vw, 483px);
    border-radius: min(.52vw, 10px);
    background-image: url(../img/mainImg.jpg);
  }

  &__descrBlock {
    max-width: min(45.57vw, 875px);
    border-radius: min(.52vw, 10px) min(.52vw, 10px) 0 0;
    background-color: white;
  }

  & div:has(> h2) {
    margin-bottom: min(1.20vw, 23px);
    border-radius: min(.52vw, 10px) min(.52vw, 10px) 0 0;
    background-color: #ffd801;

    padding-block: min(.78vw, 15px);
    padding-inline: min(1.56vw, 30px);

    & > h2 {
      font-size: min(1.98vw, 38px);
      font-weight: 700;
      font-style: normal;
      line-height: normal;
      color: #000000;
      text-transform: uppercase;
    }
  }

  & div:has(> h3) {
    margin-bottom: min(1.20vw, 23px);
    border-radius: min(.52vw, 10px) min(.52vw, 10px) 0 0;
    background-color: #797979;

    padding-block: min(.78vw, 15px);
    padding-inline: min(1.56vw, 30px);

    & > h3 {
      font-size: min(1.25vw, 24px);
      font-weight: 700;
      font-style: normal;
      line-height: normal;
      color: #ffffff;
      text-transform: uppercase;
    }
  }

  &__mainDescrBottom {
    margin-bottom: min(2.08vw, 40px);
    font-size: min(1.04vw, 20px);
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    color: #000000;

    padding-inline: min(1.56vw, 30px);
  }

  &__mainDescr {
    margin-bottom: min(2.08vw, 40px);
    font-size: min(1.25vw, 24px);
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    color: #000000;

    padding-inline: min(1.56vw, 30px);
  }

  &__mainDescrBottomBlock {
    background-color: white;
  }

  &__bottomSectList {
    padding-bottom: min(1.46vw, 28px);

    padding-inline: min(1.56vw, 30px);

    & li:has(> svg) {
      position: relative;
      display: flex;
      flex-direction: column;
      width: calc(100% / 6);
      padding-right: min(1.30vw, 25px);

      row-gap: min(.42vw, 8px);

      &:not(:first-child) {
        margin-left: min(1.30vw, 25px);
      }

      &:not(:last-child) {
        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          width: 1px;
          height: 100%;
          background-color: #dcdcdc;
        }
      }

      & > p {
        font-size: min(.94vw, 18px);
        font-weight: 400;
        font-style: normal;
        line-height: normal;
        color: #000000;
      }
    }

    & svg {
      width: min(2.08vw, 40px);
      height: min(2.08vw, 40px);
    }
  }
}

.event {
  padding-block: min(2.86vw, 55px);

  & h2 {
    margin-bottom: min(1.56vw, 30px);
    font-size: min(1.98vw, 38px);
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    color: #000000;
    text-transform: uppercase;
  }

  &__news {
    column-gap: min(1.04vw, 20px);
  }

  &__item {
    flex-direction: column;
    max-width: min(21.09vw, 405px);
    min-height: min(27.50vw, 528px);
    padding-bottom: min(1.04vw, 20px);
    border-radius: min(.52vw, 10px);
    background-color: #f5f5f5;
  }

  &__img {
    @include back_img;
    width: 100%;
    height: min(13.54vw, 260px);
    margin-bottom: min(1.04vw, 20px);
    border-radius: min(.52vw, 10px) min(.52vw, 10px) 0 0;

    &_1 {
      background-image: url(../img/event__img_1.jpg);
    }

    &_2 {
      background-image: url(../img/event__img_2.jpg);
    }
  }

  &__date {
    display: block;
    margin-bottom: min(1.04vw, 20px);
    padding-left: min(1.04vw, 20px);
    font-size: min(.63vw, 12px);
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    color: #e1ba00;
    text-transform: uppercase;
  }

  & h4 {
    margin-bottom: min(.52vw, 10px);
    padding-left: min(1.04vw, 20px);
    font-size: min(1.25vw, 24px);
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    color: #000000;
  }

  &__descr {
    padding-left: min(1.04vw, 20px);
    font-size: min(.94vw, 18px);
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    color: #000000;
  }

  &__link {
    display: block;
    margin-top: auto;
    padding-left: min(1.04vw, 20px);
    font-size: min(.83vw, 16px);
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    color: #b91827;
    text-decoration: underline;
  }
}

// hover
.info__choice:hover {
  background-color: #ffd801;
}
